doctype html
html
  head
    title= title
    link(rel='stylesheet', href='css/main.css')
    block css
  body
    nav
      img(src='images/rainbot.png', alt='RainBot')
      ul
        each val, key in settings.menu
          li 
            if settings.selected === val
              a.selected(href=val)= key
            else
              a(href=val)= key
    
    block content
      
  script(type='text/javascript', src='javascripts/utils.js')
