extends _main

block content
  content#About.container
    page-header ABOUT
    section
      text#page-text.wrapper
        a(class='anchor', href='#what-is-rainbot'): h2 What is RainBot?
        h3 Just Another Bot
        p
          | RainBot is really just another IRC bot. However this one is made in node.js! It is currently being
          | used as the unofficial, official bot of #Neverfree on the irc.canternet.org server! It does not do much right now, but a lot of development
          | has been going into it!      
            
        h3 Why RainBot?
        p
          | It really started as something for fun rather than for something that was needed. That being said, I can't
          | really find a good reason to tell you to use RainBot. All I can say is that RainBot will continue to be
          | worked on for quite some time, and there is quite a bit of cool features planned. I guess support for the bot
          | would be another reason to use it. if you ever have troubles, issues, complaints, ideas, compliments, insults
          | or whatever it might be, please do message me on IRC in #Neverfree on the aforementioned IRC server, I'd be most happy to help!
        
        a(class='anchor', href='#notes-on-development'): h2 Notes on Development
        p 
          | For information about the current development of RainBot, please do follow my 
          a(href='http://rainbot-irc.blogspot.com') blog!
          
        a(class='anchor', href='#what\'s-next'): h2 What's next for RainBot?
        ul
          li Continue work on Database module
          li Continue to work on website
          li Plan 0.7.0
          li Continue to clean and refactor code
          
        h2 Goals and Priorities for RainBot
        
        h3 Priorities from most to least important
        ul 
          li Make RainCast a stable module so we can start computing stats!
          li Work on website console
      
        h3 Goals (Not currently being worked on, but is planned)
        ul
          li Pastebin integration
          li A website that is actually implemented well
          li Mail service?
          li Reminders?
          li Parse user modes
          li Log isolation
        br
        br
        strong If you have feature requests, or want to use RainBot for your own channel, pm or find me in #Neverfree
