extends _main

block css
  link(rel='stylesheet', href='css/console.css')

block content
  content#Console.container
    page-header CONSOLE
    section#ConsoleView.container
      #tabs.wrapper
        ul
          li#Chat.selected Chat
          li#Logs Logs
          li#Query Query
      #view.wrapper
      script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
      script(type="text/javascript" src="http://localhost:8080/socket.io/socket.io.js")
      script(rel='text/javascript', src='javascripts/plugins/jsearchdropdown/jquery.searchabledropdown-1.0.8.min.js')
      script(rel='text/javascript', src='javascripts/chat.js')
      
      script(rel='text/javascript', src='javascripts/test.js')
  
