<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href="stylesheets/main.css">
  <link rel='stylesheet' href='stylesheets/fedora.css'>
</head>

<body>
  <audio loop id="spin">
    <source src="audio/spin.mp3" type="audio/mpeg">
  </audio>
  <div class="filter">
    <div id="seventh-element">
        <a href="https://www.youtube.com/user/seventhelementmusic">
            Fedora belongs to Seventh Element
        </a>
    </div>
  </div>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">
    google.load("jquery", "1.4.2");
  </script>
  <script type="text/javascript" src="javascripts/spin.js"></script>
</body>

</html>