<!doctype html>
<html>

<head>
  <title>{{ title }}</title>
  <link rel='stylesheet' href='stylesheets/main.css'>
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <nav>
    <img src='images/rain-logo.png' alt='RainBot'>
    <ul>
    {% for route in menu %}
      {% if route == selected %}
        <li><a class=selected href={{ route }}>{{ loop.key }}</a></li>
      {% else %}
        <li><a href={{ route}}>{{ loop.key }}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
  {% block content %}{% endblock %}
  {% block scripts %}
</body>

</html>