extends _main

block content
  content#Userguide.container
    page-header USER GUIDE
    section.container
      text#page-text.wrapper
        p
          | This guide aims to be a somewhat detailed overview about the commands
          | and features of Rainbot. However development of the bot is rapid, and
          | and keeping documentation in check can be rather slow, so don't always
          | expect this to be 100% up-to-date with releases.

        h2 Commands and Triggers

        h3 Commands
        p
          | Messages proceeded by the bot's nick or the command symbol will
          | be taken as direct commands. For example, if the bot's nick is
          | 'RainBot' and the command symbol in the config is '$', then 'RainBot, ;say this' 
          | and '$ ;say this' would both be valid triggers assuming your command prefix
          | has been set to ';'.
        p
          | If you type just a command name like ';say', then that will also trigger as a command, so
          | you don't necessarily have to use a command line prefix as in the previous examples.
          
        h3 Triggers
        p
          | Triggers fire separately from commands, which is important to note if you're developing 
          | trigger meant to be fired over commands (you would need to use the onCommand property).
          | Triggers will only fire if their appropriate trigger function returns true.

        h2 Included Base Modules
        p
          | The included base modules should help you get started with using the bot
          | in your own channel. The RainCore module also provides some commands to
          | manage the bot. However, if you wish to create your own management module,
          | you are more than welcomed, and if you wish, you can use RainCore as a guide.
        
        h3 RainCore Module
        
        p
          | As mentioned, the RainCore module adds some management commands and some
          | somewhat useful commands. It also includes the alias command, so if you remove
          | this module, expect to lose aliasing as well unless reimplemented (and like I
          | said, if you want your own core module, go ahead and use what you want from here in your own).

        table
          tr.header
            td Command
            td Description
          tr
            td: a(class='c', id='#help', href='#help') ;help [command]
            td Links you to this page, or displays help text of command.
          tr
            td: a(class='c', id='#ver', href='#ver') ;ver
            td Returns the version of the bot.
          tr
            td: a(class='c', id='#alias', href='#alias') ;alias name [p1 [,p2]] -&gt; [c1 [, c2]]
            td Aliases command(s) to the given name
          tr
            td: a(class='c', id='#chan', href='#chan') ;chan leave | join chan[:pass]
            td Allows the bot to join and leave channels.

        h3 RainChat Module
        p
          | The RainChat module provides a few commands for socialness.

        table
          tr.header
            td Command
            td Description
          tr
            td: a(class='c', id='#say', href='#say') ;say [text]
            td Repeats what you place in for text.
          tr
            td: a(class='c', id='#do', href='#do') ;do [action]
            td Repeats what you place for action, as an action.
          tr
            td: a(class='c', id='#blog', href='#blog') ;blog
            td Links the blog site for RainBot's development.
          tr
            td: a(class='c', id='#rules', href='#rules') ;rules
            td Gives you rules, one way or another (For SRQ's Constellation).

        h3 RainCal Module
        p
          | With the power of the mathjs library (http://mathjs.org), RainBot can parse equations and store
          | user defined functions.

        table
          tr.header
            td Command
            td Description
          tr
            td: a(class='c', id='#cal', href='#cal') ;cal [equation]
            td Parses the given equation.

        h3 RainBrella Module
        p 
          | The RainBrella module implements random utilities.

        table
          tr.header
            td Command
            td Description
          tr
            td: a(class='c', id='#echo', href='#echo') ;echo [text]
            td Repeats what you pass in for text (not immediately like say).
          tr
            td: a(class='c', id='#roll', href='#roll') ;roll [&lt;n1&gt;r [, &lt;n2&gt;d [, &lt;n3&gt;p]]]
            td Rolls for n1 times, with a n2 die in n3 pairs
          tr
            td: a(class='c', id='#jip', href='#jip') ;jip
            td Evaluates javascript and returns value.
            
        h2 Other Modules
        p
          | All of the following modules you can find on my Github and
          | use at your leisure.
            
        h3 RainShow Module
        p
          | The RainShow module provides a command that randomly picks an episode from
          | MLP and can also tell you the title if given a two pair key.

        table
          tr.header
            td Command
            td Description
          tr
            td: a(class='c', id='#ep', href='#ep');ep [s e]
            td Gives you a random episode to watch.
