error-box {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
  width: 50%;
  min-width: 678px;
  height: 100%;
}

error-box .header {
  margin-top: 90px;
  margin-bottom: 30px;
  margin-left: 80px;
  margin-right: 80px;
  height: 80px;
  font-family: Raleway;
  font-size: 80px;
  color: hsla(184, 0%, 11%, 1);
  text-align: center;
  line-height: 80px;
}

error-box img {
  display: block;
  width: 40%;
  margin: 0 auto;
}

error-box p {
  padding-left: 20px;
  height: 70px;
  font-family: Roboto;
  font-size: 16px;
  color: white;
  line-height: 70px;
    background-color: hsla(184, 0%, 11%, 1)
}
