@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic|Megrim|Nova+Square);
@import url(https://fonts.googleapis.com/css?family=Raleway|Maven+Pro:500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

* {
    margin: 0;
    padding: 0;
}

html {
  height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    background-color: hsla(173, 0%, 18%, 1);
}

nav {
    display: inline-block;
    position: fixed;
    width: 160px;
    min-height: 100%;
    background-color: hsla(184, 0%, 11%, 1);
   /* border-right: 2px solid hsla(183, 23%, 32%, 1);*/

}

nav img {
  margin-top: 70px;
  width: 170px;
}

nav ul {
    margin-top: 10px;
    list-style-type: none;
}

nav ul li {
    height: 80px;
    line-height: 80px;
    text-align: center;
}

nav ul li a {
    display: block;
    text-decoration: none;
    font-family: Raleway;
    font-size: 15px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    color: white;
}

nav ul li a.selected {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-right: 10px solid hsla(194, 13%, 60%, 1);
}

nav ul li a:hover {
    background-color: hsla(194, 13%, 60%, 1);
}

.container {
  height: 100%;
  display: block;
  position: relative;
}

content {
  margin-left: 160px;
}

page-header {
  display: inline-block;
  margin-top: 90px;
  margin-left: 80px;
  font-family: Raleway;
  font-size: 50px;
  color: hsla(178, 0%, 72%, 1);
  line-height: 80px;
}

.container .wrapper {
  display: block;
}

.container text {
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 80px;
    margin-right: 80px;
    max-width: 1000px;
    font-family: roboto;
    font-size: 17px;
    color: hsla(178, 0%, 72%, 1);
    line-height: 24px;
}

.container text a {
  text-decoration: none;
  color: hsla(183, 95%, 65%, 1);
}

.container text h2 {
  margin-top: 40px;
  margin-bottom: 25px;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 35px;
  font-weight: 300;
  color: hsla(194, 13%, 60%, 1);
  line-height: 35px;
  border-left: 6px solid hsla(178, 0%, 10%, 1);
  text-decoration: none;
}

.container text a.anchor {
  text-decoration: none;
}

.container text h3 {
  margin-top: 20px;
  margin-bottom: 15px;
  font-weight: 300;
  color: white;
}

.container text p {
  margin-bottom: 15px;
}

.container text table {
  border-collapse: collapse;
}

.container text table tr td {
  font-family: Ubuntu Mono;
  text-align: center;
  margin: 0;
  min-width: 250px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container text table tr td:first-child:hover {
  background-color: hsla(178, 0%, 15%, 1);
  cursor: pointer;
}

.container text table tr td a {
  display: block;
  color: white;
  width: inherit;
  padding: 5px;
}

.container text table tr td a:focus {
  outline: none;
}

.container text table tr td:last-child {
  font-family: Roboto;
  text-align: left;
  padding-left: 7px;
}


.container text table tr:last-child {
  margin: 0;
  padding: 5px;
  width: 450px;
}

.container text table tr.header td:first-child:hover {
  background-color: hsla(184, 0%, 11%, 1);
  cursor: default;
}

.container text table tr.header td {
  background-color: hsla(184, 0%, 11%, 1);
  font-family: Raleway;
  color: white;
  padding: 5px;
}

.container text ul {
    list-style-position: inside;
    padding-left: 20px;
}
