channel
  select
    each val, key in channels
      option= key
  
messages

message-input
  textarea.message-input(rows=5, columns=5, maxlength="100", placeholder="Enter your message here")
  button(type="submit") >

  
